<!DOCTYPE html>
<html>
<head>
  <title>Metova</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "metova/application", media: "all" %>
  <%= javascript_include_tag "metova/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'metova/shared/flash' if flash %>
<%= yield %>

</body>
</html>
